* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  position: auto;
  background-image: url(Img/Alam.webp);
  background-size: cover;
  background-position: center;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  overflow-y: auto;
}
section main {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

section main img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 1px teal;
}

section main h2 {
  font-weight: 600;
  color: white;
  text-shadow: 0 0 1px transparent, 0 0 2px rgba(0, 0, 0, 0.8);
}

section main a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  border: 1.5px solid white;
  padding: 10px;
  border-radius: 5px;
  gap: 20px;
  transition: .3s;
}

section main a:hover {
  background-color: white;
  color: black;
}

section main a i {
  font-size: 1.5em;
}

section footer p {
  color: white;
  font-size: .8em;
  padding: 10px;
  text-shadow: 0 0 1px transparent, 0 0 2px rgba(0, 0, 0, 0.8);
}

section footer p a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}